<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- nameSpace란에는 interface의 전체 이름을 기재(경로 포함) -->
<!-- mapper 안에는 완성된 메소드만 넣어야 함! -->
<mapper namespace="net.kdigital.project.mapper.RegistrationMapper">
	
	<insert id="regist" parameterType="Member">
		INSERT INTO p_member
		(memberid
		, memberpwd
		, membername
		, email
		, phone
		, address
		, imageseq)
		VALUES
		(#{memberid}
		, #{memberpwd}
		, #{membername}
		, #{email}
		, #{phone}
		, #{address}
		, #{imageseq})
	</insert>
	
	
	<select id="idCheck" resultType="Member" parameterType="String">
		SELECT *
		FROM p_member
		WHERE
			memberid = #{memberid}
	</select>

</mapper>